:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background: var(--Almost-White);
    font-family: "Epilogue", sans-serif;
}

main {
    width: 100vw;
    height: 100lvh;
    & header {
        display: flex;
        align-items: center;
        padding: 20px 100px;
        width: 100%;
        & > img {
            margin-right: 50px;
            width: 70px;
            cursor: pointer;
        }
        & :where(ul,.optin) :where(li,span) {
            cursor: pointer;
            transition: .3s;
            font-size: 14px;
            font-weight: 600;
        }
        & :where(ul,.optin) :where(li,span):hover {
            color: var(--Almost-Black);
        }
        & nav {
            display: flex;
            flex: 1;
            justify-content: space-between;
            & ul {
                user-select: none;
                display: flex;
                align-items: center;
                list-style: none;
                gap: 30px;
                color: var(--Medium-Gray);
                & li {
                    position: relative;
                    
                       & ul {
                        display: none;
                            position: absolute;
                            background-color:var(--Almost-White);
                            box-shadow: 0px 0px 25px 0px var(--Medium-Gray);
                            flex-direction: column;
                            width: 150px;
                            padding: 20px 20px;
                            align-items: flex-start;
                            border-radius:8px;
                            right: 0;
                            bottom: -170px;
                            gap: 10px;
                            & li {
                                margin: 0;
                                padding: 0;
                                & img {
                                    margin-right: 5px;
                                }
                            }
                        }

                        & .com {
                            width: 110px;
                            left: 0;
                            bottom: -130px;
                        }
                    
                }
            }
            & .optin {
                display: flex;
                align-items: center;
                color: var(--Medium-Gray);
                gap: 30px;
                
                & span:last-child {
                    border: 1.4px solid var(--Almost-Black);
                    padding: 9px 15px;
                    border-radius: 13px;
                }
            }
        }
        & > img:last-child {
            width:30px;
            display:none;
            height: 30px;

        }

    }
    section {
        width: 70%;
        height: calc(100% - 90px);
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;

        & .partOne {
            width: 80%;
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            height: 90%;
        }
            & h1 {
                font-size: 60px;
                line-height: .9;
                margin-bottom: 30px;
                color: var(--Almost-Black);
                margin-top: 40px;
            }

            & p {
                color: var(--Medium-Gray);
                font-size: 18px;
                width: 400px;
                line-height: 1.3;
                margin-bottom: 30px;
            }

            & .more {
                background-color: var(--Almost-Black);
                color: var(--Almost-White);
                border: 0;
                outline: 0;
                padding: 10px 15px;
                border-radius: 9px;
                transition: .3s;
                border: 1.4px solid var(--Almost-Black);
                cursor: pointer;
                &:hover {
                    background-color: var(--Almost-White);
                    color: var(--Almost-Black);
                }
            }

            & .icones {
                display: flex;
                align-items: center;    
                margin-top: 30px;
                justify-self: flex-end;
                gap: 20px;
                margin-top: auto;
                & img {
                    width: 70px;
                }
            }
        }
        & .partTwo {
            width: 1000px;
            height: 400px;
            
            & .imge {
                width: 100%;
                height: 100%;
                background: url(./images/image-hero-desktop.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        & .overLay {
            background-color: rgba(0, 0, 0, 0.804);
            width: 100%;
            height: 100%;
            position: absolute;
            display: none;
        }
    }
    




@media (max-width:768px) {
    main {
    header{
     padding: 20px;
     justify-content: space-between;
     & nav {
          /* display: none; */
          transition: .5s ease-in-out;
         position: fixed;
         flex-direction: column;
         right: -100%;
         top: 0;
         height: 100%;
         background: var(--Almost-White);
         width: 70%;
         padding: 0 20px;
         justify-content: flex-start;
         & ul {
             margin-top: 100px;
             flex-direction: column;
             align-items: flex-start;
         }
         & .optin {
            margin:30px 0 ;
            flex-direction: column;
            width: 100%;
            & span {
                width: 100%;
                text-align: center;
            }
         }
     }
     & > img:last-child {
         display: block;
         position: relative;
         z-index: 999;
         margin: 0;
     }
     }
 
    }
 
    & section {
     flex-direction: column-reverse;
 
    }

    main  section .partTwo .imge {
        background:url(./images/image-hero-mobile.png) ;
        background-repeat: no-repeat ;
        background-size: contain ;
        background-position:center  ;
        max-width: 100%;
    } 
    main section .partTwo {
        width: 100%;
        height: 40%;
    }
    main section {
        width: 100%;
        text-align: center;
    }
    main section .partOne {
        width: 100%;
        padding: 10px;
    }

    main section .partOne h1 {
        font-size: 40px;
        margin-bottom:20px;
    }
    main section .partOne h1 > div{
        display: inline-block;

    }
    main section .partOne p {
        width: 90%;
        line-height: 1.5;
        margin: auto;
    }

    main section .partOne button {
        margin-top: 20px;
    }

    main section .partOne .icones {
        gap: 0;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }
    main header  .bar {
        position:relative;
        bottom:0px !important ;
        margin: 10px;
        box-shadow: none;
    }
 }